h2 {
  font-weight: bold;
  font-family: "Ramabhadra", sans-serif;
}
footer {
  font-size: small;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

label {
  font-weight: bold;
}

.picture {
  box-shadow: 10px 15px 8px #888888;
}

#navbar {
  background-color: #105153;
}
